encryption = "age"

[data]
    email = "allig4t0r@gmail.com"

[age]
    command = "age"
    identity = "~/.config/chezmoi/age.key"
    recipient = "age1lpd0u9hx2llmtmw03eruwzr40fuukj5zy2nx9wqa6dvp7k9svesse7apzv"

[diff]
    command = "difft"

[edit]
    command = "nano"

[pinentry]
    command = "pinentry"
